workflow.json
{
  "name": "CyberGuard AI - News Summarizer",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "95a15cf7-ace5-40ba-b1cd-b1884d1200a8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf89dcae-df97-40c2-bb46-b328bbcf722b",
              "name": "topic",
              "value": "Latest phishing attack trends in India",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "422f1678-3a8f-486f-91c0-f559cf784db7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a cybersecurity awareness assistant.\n\nSummarize this topic:\n{{$json.topic}}\n\nRequirements:\n- Use simple language\n- Use bullet points\n- Keep it practical\n- Add safety tips\n- Format for LinkedIn audience",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        464,
        0
      ],
      "id": "6faadbc4-fca6-4ea3-9674-ea0c491ead80",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        832,
        0
      ],
      "id": "9d900fcc-42ac-4a1e-a6b3-538d09421a80",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IUWDIX5AIWb9qvue",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8a7df2c6-e72a-414b-ad51-964c3e2b84d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2377d9c45c42458f35383bea5c54316ac9793cc053135aa34c953c1736f59d25"
  },
  "id": "2Qf4mywhgUkN7o4X",
  "tags": []
}
